/* paymentList.css */
.colorful-header {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.colorful-row:nth-child(odd) {
    background-color: #f0f8ff;
}

.colorful-row:nth-child(even) {
    background-color: #e6f7ff;
}

.slds-cell-wrap {
    padding: 0.5rem 1rem;
}
.colorful-row:hover {
    background-color: #ebf5ff; /* Lighter blue background on row hover */
}

.custom-button {
    background-color: #049c55; /* Blue button background color */
    color: white; /* White text color for button */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    align-items: center;
}

.custom-button:hover {
    background-color: #3cb97a; /* Darker blue background color on hover */
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Adjust margin as needed */
    gap: 10px;
}
.custom-button2{
    color: rgb(43, 1, 1); /* White text color for button */
    padding: 8px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    align-items: center;
    background-color: #ff7e5f;
}
.custom-button,
.custom-button2 {
    padding: 10px 20px; /* Example padding */
    border: none;
    border-radius: 5px; /* Example border radius */
    cursor: pointer;
}