.power-bi-link {
        font-weight: bold;
        color: #1e5194;
        text-decoration: none;
        padding: 0.5rem;
        display: block;
    }

    .power-bi-link:hover {
        background-color: #f4f4f4;
        color: #0b5394;
        border-radius: 5px;
    }

    .slds-list_horizontal {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .slds-list_horizontal li {
        margin: 0.5rem 0;
        padding-right: 1rem;
    }

    .slds-has-dividers_right li {
        border-right: 1px solid #d8dde6;
    }

    .slds-has-dividers_right li:last-child {
        border-right: none;
    }